@import 'shared/fonts';


//components:
@import 'components/header';

//pages:
@import'index';
@import'portfolios';

.customClassFromFile{
  color: blue;
}



html,body{
  font-family: 'Montserrat','Helvetica' !important;
  height:100%;
  width: 100%;
}

.clickable{
  cursor: pointer;
}
.base-page{
  padding: 70px 0;
  color: rgb(17, 16, 16);
  background-color: #ecedee;
  min-height: 100vh;
}

.page-header-title{
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}
.absolute {
  position: absolute;
}
.self-typed{
  font-size: 31px;
  color: rgb(22, 21, 21);
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Motserrat','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
